/* mulish-regular - cyrillic_latin */
@font-face {
      font-display: swap; /*  пока загружается этот  шрифт, будет подгружен запасной шрифт */
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 400;
      src: url('../fonts/mulish-v12-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* mulish-600 - cyrillic_latin */
@font-face {
      font-display: swap; /**/
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 600;
      src: url('../fonts/mulish-v12-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* mulish-900 - cyrillic_latin */
@font-face {
      font-display: swap; /**/
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 900;
      src: url('../fonts/mulish-v12-cyrillic_latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


html{
      box-sizing: border-box;
      scroll-behavior: smooth; /* скролл плавный */ 
}


* , *::after, *::before{
      box-sizing: inherit;
}


body{
      min-width: 320px;
      min-height: 100vh;  /* vh - высота экрана, 100% от высоты экрана */
      font-family: 'Mulish', sans-serif;  /* sans-serif запасной шрифт*/
      font-size: 18px;
      font-weight: 400;
      line-height: 1.1;  /* в % не указывам, иначе будет проецент от размера шрифта */
      color: #000;
      background-color: #F8E8E2;
      background-image: url("/img/bg.svg");
      background-repeat: no-repeat;
      background-position: top;
      background-size: contain;  /* чтобы занимал всю ширину экрана */ 
}


button{
      padding: 0;   
      cursor: pointer;
      background-color: transparent;
      border: none;
}


a{
      text-decoration: none;
      color: inherit;
}


ul{
      margin: 0;
      padding: 0;
      list-style: none;
}


img{
      max-width: 100%;
      height: auto;
}


fieldset{

      border: 0;
}

h1, h2, h3, p, fieldset{
      margin: 0;
}


.container{
      --width: 1180px; /*ширина контента, заводим переменную --width и --padding */
      --padding: 30px;
      max-width: calc(var(--width) + (var(--padding) * 2)); /*чтобы падинги не съедали ширину контента*/ 
      margin: 0 auto;
      padding: 0 var(--padding);
}


.btn{
      padding: 12px 28px;
      border-radius: 40px;
      background-color:  #F44;
      box-shadow: 0px 4px 20px 0px #FA5A5A;
      color: rgba(255, 255, 255, 1);
}


.text-red{
      color: #F44;
}


/* header */
.header {
      padding: 32px 0;
}

.header__container{
      display: flex;
      justify-content: space-between;
      align-items: center;
}


.header__logo {
}


.header__btns{
      display: flex;
      align-items: center;
      gap: 32px; 
}


.header__btn-order {
}


.header__btn {
      display: inline-block;
}


/* hero */
.hero {
      padding: 30px 0 85px 0;

}

.hero__title {
      max-width: 880px;
      margin-bottom: 70px;
      font-size: 84px;
      font-weight: 900;
}

.hero__cups {
      display: flex;
      gap: 20px;
      align-items: center;
      padding-top: 200px;
}

.hero__cup {
      position: relative;
      width: 380px;
      height: 382px;
      border-radius: 24px;
}


.hero__img {
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%); /*  translateX сдвигает по горизонлаи, в нашем случае влево.  */
}


.hero__cup--pink {
      background-color: #FF196C;
}


.hero__cup--yellow {
      background-color: #FFB72A;
      margin-top: -70px;
}


.hero__cup--green {
      background-color:#34B905; 
}


/*goods*/

.goods {
      padding: 60px 0 70px;
}


.goods__title{
      margin-bottom: 40px;
      font-size: 44px;
      font-weight: 900;
}


.goods__list{
      display: grid;
      grid-template-columns: repeat(4, 280px);
      gap: 20px;
}


.goods__item {
     

}

.goods__card {
      padding: 12px;
      border-radius: 32px;
      background-color: #fff;
}


.cocktail {
      display: flex;
      flex-direction: column;
      gap: 13px;
      height: 100%;

}


.cocktail__img {
      width: 100%;
      border-radius: 24px;
}


.cocktail__content { 
      flex-grow: 1;  /* флекс элемент, если будет свободное простарвно, то элемент увеличится в размере */ 
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 12px;
      line-height: 1.1;
}


.cocktail__text {
      display: grid;
      grid-template-columns: 3fr 1fr;
     
     
      margin-bottom: 2px;
}


.cocktail__title {
      grid-row: 1/3;
      margin-right: 5px;
      font-size: 18px;
      font-weight: 400;
}


.cocktail__price {
      grid-column: 2/3;
      font-weight: 600;
}


.cocktail__size {  
      /* flex: 0 0 100%; */
      /* flex-grow: 0;  если будет свободное пространство, то элемнет не увеличится */
      /* flex-shrink: 0;   если не будет свободного пространства, то элемнет не сожмется */
      flex-basis: 100%;
     
      margin-left: auto; /* флекс элемент прижмется в право либо align-self: flex-end (вдоль поперечнной оси) */
      font-size: 12px;
      font-weight: 600;
      color: #C1C1C1;
      margin-bottom: 10px;
}


.cocktail__btn {
      margin-top: auto;  /* флекс элемнт прижмется к низу */
      font-weight: 600;
}

.cocktail__btn--make{

} 

      
/*footer*/
.footer {
      padding-top: 50px;
      padding-bottom: 32px;
}


.footer__container {
      display: grid;
      grid-template-areas:   
            'logo      .'
            'copyright  developer'
      ;
      gap: 40px;
      /*либо так:*/
      /* grid-template-columns: repeat(2, 1fr);  */
}


.footer__logo {  /*грид элемент*/
      grid-area: logo;
      justify-self: flex-start;  /*выравнивает повертикали  внтури ячейки*/
}


.footer__copyright { /*грид элемент*/
      grid-area: copyright;
      align-self: flex-end;
}


.footer__developer { /*грид элемент*/
      grid-area: developer;
      justify-self: flex-end;
      align-items: flex-end; /*выравнивает по вертикали внтури ячейки*/
      display: flex;
      flex-direction: column;
      gap: 10px;
}


.footer__developer-item {
     
}


.footer__developer-link {
}


/* модалка order: */

.modal{ /* overley */
     display: flex;
      position: fixed; /* при скролле, оверлей модалка не будет срроллиться */
      top:0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 20px;
      overflow-y: auto;  /* при скролле, контент будет скроллиться, а оверлей нет */
      display: none;  /* изначально окно Закрыто */ 
      background-color: rgba(0,0,0, 0.5);
      cursor: pointer;
}


.modal__main{ /*  сама модалка */
      margin: auto;  /* центруется */
      cursor: default;
      width: 100%;
}


.modal__main--order{
      max-width: 780px; /* из макета */
}





.order {
      padding: 40px 60px;
      border-radius: 24px;
      background-color:  #F8E8E2;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.order__title {
      margin-bottom: 40px;
      font-size: 44px;
      font-weight: 900;
      line-height: 1.1;
}


.order__count{

}


.order__list {
      margin-bottom: 40px; 
}


.order__item {
      display: grid;
      grid-template-columns: 70px  1fr  min-content;  /* 1fr - возьмет оставшееся место, min-content т.е. ширина колнки  будет подстраиваться под  ширину контента */ 
      gap: 12px;
      grid-template-areas:   /* 2 ряда, 3 столбца  */
            "image info delete"    
            "image info price"
      ;
      align-items: center;
      border-top: 1px solid #FFF;
      padding: 16px 0;
}


.order__item:last-child{
      border-bottom: 1px solid #FFF;
} 


.order__img {
      grid-area: image;
}


.order__info {
      grid-area: info;
}

.order__name {
      margin-bottom: 8px;
      font-weight: 400;
      line-height: 1.1;
}


.order__topping-list {
      display: flex;
      flex-direction: column;
      gap: 8px;
      color: #D5B4A8;
      font-size: 12px;
      font-weight: 600;
      line-height: 1.1;
}


.order__topping-item {
      margin-bottom: 0;
 }


.order__item-delete { /* грид элемент */
      grid-area: delete;
      justify-self: flex-end;  /* выранивате по горионтали: прижмет грид элемент к правому краю ячейки*/
      align-self: flex-start; 
      background-image: url('../img/close.svg');
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
}


.order__item-price { /* грид элемент */
      grid-area: price;
      justify-self: flex-end;
      align-self: flex-end;
}


.order__price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
      font-weight: 600;
}


.order__price-title {
      }


.order__total-price {
      }


.order__form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 32px 20px;
}


.order__label {
      width: 100%;
}


.order__input {
      width: 100%;
      height: 44px;
      padding: 0 16px;
      border-radius: 8px;
      background-color: #fff;
      border: none;
}


.order__input::placeholder{
      color: #C1C1C1;
      font-size: 18px;
      line-height: 1.1;
}


.order__input:hover{
      background-color: #F6F6F6;
}


.order__input:focus{
      outline: none;
      border: 1px solid #D5B4A8;
      background-color:  #FFF;
}


.order__input:active{
      border: 1px solid #D5B4A8;
      background-color:  #FFF;
}


.order__submit { /* грид элемент */
      grid-column: 2/3;
      justify-self: flex-end;
      width: 139px;
}



/* модалка make: */

.modal__main--make{
      max-width: 640px; /* из макета */
}


.make {
      padding: 60px 40px;
      border-radius: 24px;
      background-color:  #F8E8E2;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.make__title {
      margin-bottom: 40px;
      
}


.make__title  sup{
      top: 0;
      font-size: 44px;
}


.make__form {
     display: flex;
     flex-direction: column;     
}


.make__fieldset {
      margin: 0;
      padding: 0;
      
}


.make__fieldset--ingredients { /* флекс элемент */
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px 55px;
      margin-bottom: 32px;
}


.make__wrap-add{
      display: flex;
      gap: 55px;
      margin-bottom: 40px;
}


.make__label {
      font-size: 16px;
      line-height: 1.1;
}





.make__fieldset--topping {
     display: flex;
     flex-direction: column;
     gap: 20px;
}


.make__legend {
      margin-bottom: 24px;
      color: #D5B4A8;  
}


.make__fieldset--cup {
     
      
}


.make__footer {
      display: flex;
      align-items: center;
      gap: 39px;
}


.make__add-btn {
      width: 232px;
     
}


.make__total {
      font-weight: 600;
}

      
.make__total-price {
      
}


.make__total-size {
      text-align: right;
      font-size: 12px;
      color: #D5B4A8;   
}



.checkbox {

}


.checkbox__input {
      }
      

.make__upsale{
      font-size: 12px;
      color: #D5B4A8;
}


.radio {
}


.radio__input {
      }

