/* mulish-regular - cyrillic_latin */
@font-face {
      font-display: swap; /*  пока загружается этот  шрифт, будет подгружен запасной шрифт */
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 400;
      src: url('../fonts/mulish-v12-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* mulish-600 - cyrillic_latin */
@font-face {
      font-display: swap; /**/
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 600;
      src: url('../fonts/mulish-v12-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* mulish-900 - cyrillic_latin */
@font-face {
      font-display: swap; /**/
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 900;
      src: url('../fonts/mulish-v12-cyrillic_latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


:root{
      --main: #F8E8E2;
      --text: #000;
}


html{
      box-sizing: border-box;
      scroll-behavior: smooth; /* скролл плавный */
}


* , *::after, *::before{
      box-sizing: inherit;
}


body{
      min-width: 320px;
      min-height: 100vh;  /* vh - высота экрана, 100% от высоты экрана */
      font-family: 'Mulish', sans-serif;  /* sans-serif запасной шрифт*/
      font-size: 18px;
      font-weight: 400;
      line-height: 1.1;  /* в % не указывам, иначе будет проецент от размера шрифта */
      color: var(--text);
      background-color: var(--main);
      background-image: url("/img/bg.svg");
      background-repeat: no-repeat;
      background-position: top;
      background-size: contain;  /* чтобы занимал всю ширину экрана */ 
}


button{
      padding: 0;   
      cursor: pointer;
      background-color: transparent;
      border: none;
}


a{
      text-decoration: none;
      color: inherit;
}


ul{
      margin: 0;
      padding: 0;
      list-style: none;
}


img{
      max-width: 100%;
      max-height: 100%;
      height: auto;
}


fieldset{

      border: 0;
}


h1, h2, h3, p, fieldset{
      margin: 0;
}


.visually-hidden{ /* скрываем дсотупно для роботов-поисковиков и программ-читалок */
      position: fixed;
      transform: scale(0);
}


.container{
      --width: 1180px; /*ширина контента, заводим переменную --width и --padding */
      --padding: 30px;
      max-width: calc(var(--width) + (var(--padding) * 2)); /*чтобы падинги не съедали ширину контента*/ 
      margin: 0 auto;
      padding: 0 var(--padding);
}


.btn{
      padding: 12px 28px;
      border-radius: 40px;
      background-color:  #F44;
      box-shadow: 0px 4px 20px 0px #FA5A5A;
      color: rgba(255, 255, 255, 1);
      transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out;  /* background-color и box-shadow   меняется плавно */
      outline: none;
      border: 1px solid transparent;
}


.btn:hover:not(:disabled){  /* не для задизебйленной кнопки */ 
      background-color:  #FF6767;
      box-shadow: 0px 4px 20px 0px #FA5A5A;
}


.btn:active:not(:disabled){ 
      background-color: #52E36A;
      box-shadow: 0px 4px 20px 0px #52E36A;
}


.btn:focus:not(:disabled){
      border-color:  #D5B4A8;
}


.btn:disabled{  /* неактвиняа кнпока  */
      box-shadow: none;
      background-color: #c1c1c1;
}

.text-red{
      color: #F44;
}


/* header */
.header {
      padding: 36px 0;
}

.header__container{
      display: flex;
      justify-content: space-between;
      align-items: center;
}


.header__logo {
}


.header__btns{
      display: flex;
      align-items: center;
      gap: 32px; 
}


.header__btn-order {
      width: 24px;
      height: 24px;
}


.header__btn {
      display: inline-block;
}


/* hero */
.hero {
      padding: 30px 0 85px 0;
}


.hero__container{
      position: relative;
}


.hero__title {
      max-width: 880px;
      margin-bottom: 70px;
      font-size: 84px;
      font-weight: 900;
}

.hero__cups {
      display: flex;
      gap: 20px;
      align-items: flex-end;
      padding-top: 200px;
}

.hero__cup {
      position: relative;
      width: 100%;
      aspect-ratio: 1/1; /* соотношение сторон, чтобы получить квадрат */
      border-radius: 24px;
}


.hero__img {
      position: absolute;
      bottom: 13%; /* 50px(padding-bottom ) / 380px(ширина квадрата) */
      left: 50%;  /*относительно родителя */
      transform: translateX(-50%); /* отноистельно самого элемента,  translateX сдвигает по горизонлаи, в нашем случае влево.  */
      width: 55%;  /* 210px(ширина стакана) / 380px(ширина квадрата) */
}


.hero__cup--pink {
      background-color: #FF196C;
}


.hero__cup--yellow {
      background-color: #FFB72A;
      margin-top: -70px;
      align-self: flex-start;  /* выравнивает вдоль поперечной оси */
}


.hero__cup--green {
      background-color:#34B905; 
}


.decor{
      position: absolute;
      /* расятянется на всю ширину с inset:0 : */
      top:0;
      left: 0;
      right: 0;
      bottom: 0;
}


.decor__img{
      position: absolute;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
}


.decor__img--01{ /* клубиника  слева*/
      width: 223px;
      height: 214px;
      filter: drop-shadow(0px 10px 30px  rgba(164, 7, 2, 0.50));
      background-image: url('../img/berry1.png');
      top: 19%;
      left: -6%;
      animation: flying01 2s ease-in-out;  /* flying01 название анимации, сами задали */
}


.decor__img--02{ /* ежевика */
      width: 180px;
      height: 147px;
      filter: drop-shadow(0px 4px 20px  rgba(17, 7, 108, 0.50));
      background-image: url('../img/berry2.png');
      right: 6%;
      top: 10%;
      animation: flying02 2s ease-in-out;
}


.decor__img--03{ /* желтая ягода на желтом фоне */
      width: 46px;
      height: 41px;
      filter: drop-shadow(0px 4px 20px  rgba(223, 97, 15, 0.40));
      background-image: url('../img/berry3.png');
      bottom: 46%;
      left: 36%;
      animation: flying03 2s ease-in-out;
}


.decor__img--04{ /* клубника справа */
      width: 109px;
      height: 114px;
      filter: drop-shadow(0px 10px 30px  rgba(164, 7, 2, 0.50));
      background-image: url('../img/berry4.png');
      bottom: -4%;
      right: 1%;
      animation: flying04 2s ease-in-out;
}


.decor__img--05{   /* черника */
      width: 109px;
      height: 114px;
      filter: drop-shadow(0px 4px 20px  rgba(1, 30, 82, 0.50));
      background-image: url('../img/berry5.png');
      bottom: -5%;
      left: 25%;
      animation: flying05 2s ease-in-out;
}


.decor__img--06{ /* желтая ягода на розовом фоне */
      width: 46px;
      height: 41px;
      filter: drop-shadow(0px 4px 20px  rgba(223, 97, 15, 0.40));
      background-image: url('../img/berry6.png');
      top: 35%;
      right: -5%;
      animation: flying06 2s ease-in-out;
}

/*goods*/

.goods {
      padding: 60px 0 70px;
}


.goods__title{
      margin-bottom: 40px;
      font-size: 44px;
      font-weight: 900;
}


.goods__list{
      display: grid;
      grid-template-columns: repeat(4, 280px); 
     
      gap: 20px;
}


.goods__item {
     

}


.goods__card {
      padding: 12px;
      border-radius: 32px;
      background-color: #fff;
}


.cocktail {
      display: flex;
      flex-direction: column;
      gap: 13px;
      height: 100%;
}


.cocktail__img {
      width: 100%;
      border-radius: 24px;
}


.cocktail__content { 
      flex-grow: 1;  /* флекс элемент, если будет свободное простарвно, то элемент увеличится в размере */ 
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 12px;
      line-height: 1.1;
}


.cocktail__text {
      /* display: grid;
      grid-template-columns: 3fr 1fr; */
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 2px 5px;
      margin-bottom: 10px;
}


.cocktail__title { /* грид элемент */
      /* grid-row: 1/3; */
      font-size: inherit;  /* наследует шрифт от своего родителя */
      font-weight: 400;
}


.cocktail__price {
      /* grid-column: 2/3; */
      font-weight: 600;
}


.cocktail__size {  
      /* flex: 0 0 100%; */
      flex-grow: 0;  /* если будет свободное пространство, то элемнет не увеличится */
      flex-shrink: 0;   /* если не будет свободного пространства, то элемнет не сожмется */
      flex-basis: 100%;
      /* margin-left: auto; флекс элемент прижмется в право, либо align-self: flex-end (вдоль поперечнной оси) */
      text-align: end;
      font-size: 12px;
      font-weight: 600;
      color: #C1C1C1;
      margin-bottom: 10px;
}


.cocktail__btn {
      margin-top: auto;  /* флекс элемнт прижмется к низу */
      font-weight: 600;
}


.cocktail__btn--make{

} 

      
/*footer*/
.footer {
      padding-top: 50px;
      padding-bottom: 32px;
}


.footer__container {
      display: grid;
      grid-template-areas:   
            'logo      .'
            'copyright  developer'
      ;
      gap: 40px;
      /*либо так:*/
      /* grid-template-columns: repeat(2, 1fr);  */
}


.footer__logo {  /*грид элемент*/
      grid-area: logo;
      justify-self: flex-start;  /*выравнивает повертикали  внтури ячейки*/
}


.footer__copyright { /*грид элемент*/
      grid-area: copyright;
      align-self: flex-end;
}


.footer__developer { /*грид элемент*/
      grid-area: developer;
      justify-self: flex-end;
      align-items: flex-end; /*выравнивает по вертикали внтури ячейки*/
      display: flex;
      flex-direction: column;
      gap: 10px;
      min-width: 230px;
}


.footer__developer-item {
     
}


.footer__developer-link {
}


/* модалка order: */

.modal{ /* overley */
     display: flex;
      position: fixed; /* при скролле, оверлей модалка не будет срроллиться */
      top:0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 20px;
      overflow-y: auto;  /* при скролле, контент будет скроллиться, а оверлей нет */
      display: none;  /* изначально окно Закрыто */ 
      background-color: rgba(0,0,0, 0.5);
      cursor: pointer;
}


.modal__main{ /*  сама модалка */
      margin: auto;  /* центруется */
      cursor: default;
      width: 100%;
}


.modal__main--order{
      max-width: 780px; /* из макета */
}


.order {
      padding: 40px 60px;
      border-radius: 24px;
      background-color:  #F8E8E2;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.order__title {
      margin-bottom: 40px;
      font-size: 44px;
      font-weight: 900;
      line-height: 1.1;
}


.order__count{

}


.order__list {
      margin-bottom: 40px; 
}


.order__item {
      display: grid;
      grid-template-columns: 70px  1fr  min-content;  /* 1fr - возьмет оставшееся место, min-content т.е. ширина колнки  будет подстраиваться под  ширину контента */ 
      gap: 12px;
      grid-template-areas:   /* 2 ряда, 3 столбца  */
            "image info delete"    
            "image info price"
      ;
      align-items: center;
      border-top: 1px solid #FFF;
      padding: 16px 0;
}


.order__item:last-child{
      border-bottom: 1px solid #FFF;
} 


.order__img {
      grid-area: image;
}


.order__info {
      grid-area: info;
}


.order__name {
      margin-bottom: 8px;
      font-weight: 400;
      line-height: 1.1;
}


.order__topping-list {
      display: flex;
      flex-direction: column;
      gap: 8px;
      color: #D5B4A8;
      font-size: 12px;
      font-weight: 600;
      line-height: 1.1;
}


.order__topping-item {
      margin-bottom: 0;
 }


.order__item-delete { /* грид элемент */
      grid-area: delete;
      justify-self: flex-end;  /* выранивате по горионтали: прижмет грид элемент к правому краю ячейки*/
      align-self: flex-start; 
      background-image: url('../img/close.svg');
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
}


.order__item-price { /* грид элемент */
      grid-area: price;
      justify-self: flex-end;
      align-self: flex-end;
}


.order__price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
      font-weight: 600;
}


.order__price-title {
      }


.order__total-price {
      }


.order__form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 32px 20px;
}


.order__label {
      width: 100%;
}


.order__input {
      width: 100%;
      height: 44px;
      padding: 0 16px;
      border-radius: 8px;
      background-color: #fff;
      border: none;
}


.order__input::placeholder{
      color: #C1C1C1;
      font-size: 18px;
      line-height: 1.1;
}


.order__input:hover{
      background-color: #F6F6F6;
}


.order__input:focus{
      outline: none;
      border: 1px solid #D5B4A8;
      background-color:  #FFF;
}


.order__input:active{
      border: 1px solid #D5B4A8;
      background-color:  #FFF;
}


.order__submit { /* грид элемент */
      grid-column: 2/3;
      justify-self: flex-end;
      width: 139px;
}



/* модалка make: */

.modal__main--make{
      max-width: 640px; /* из макета */
}


.make {
      padding: 60px 40px;
      border-radius: 24px;
      background-color:  #F8E8E2;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.make__title {
      margin-bottom: 40px;
      
}


.make__title  sup{
      top: 0;
      font-size: 44px;
}


.make__form {
     display: flex;
     flex-direction: column;     
}


.make__fieldset {
      margin: 0;
      padding: 0;
      
}


.make__fieldset--ingredients { /* флекс элемент */
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px 55px;
      margin-bottom: 32px;
}


.make__wrap-add{
      display: flex;
      gap: 55px;
      margin-bottom: 40px;
}


.make__label {
      font-size: 16px;
      line-height: 1.1;
}


.make__fieldset--topping {
     display: flex;
     flex-direction: column;
     gap: 20px;
}


.make__legend {
      margin-bottom: 24px;
      color: #D5B4A8;  
}


.make__fieldset--cup {
     
      
}


.make__footer {
      display: flex;
      align-items: center;
      gap: 39px;
}


.make__add-btn {
      width: 232px;
     
}


.make__total {
      font-weight: 600;
}

      
.make__total-price {
      
}


.make__total-size {
      text-align: right;
      font-size: 12px;
      color: #D5B4A8;   
}


.checkbox { /* label */
      position: relative;
      display: block;
      padding-left: 32px;
      line-height: 24px; /* тк размер чекбокса 24px */
}


.checkbox__input { /* input */
      position: absolute;
      -moz-appearance: none;  /* для ff */
      -webkit-appearance: none;  /* для сафари */
      appearance: none; /* скрыли */

      width: 24px;
      height: 24px;
      margin-left: -32px;  
}


.checkbox__input::before{ /* квадратик чекбокса */
      content: "";
      position: absolute;
      top: 0;  
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      border-radius: 2px;
      background-color: #FFF;

} 


.checkbox__input::after{ /* галочка в чекбоксе */
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);  /* для центрровки юзаем top, left и transform */
      width: 12px; /* рамзеры галочки */
      height: 15px;
      background-image: url("../img/check.svg");
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0;  /* чтоб галочка не отображаалсь */
      transition: opacity 0.3s ease-in-out;  /* плавно появляется */
} 
   

.checkbox__input:checked::after{  /* нажатая галочка */
      opacity: 1;       /* галочка отображается */
}


.checkbox__input:hover::before{  
     background-color: #F6F6F6;
}


.checkbox__input:focus::before{
      border: 1px solid #D5B4A8;
}


.checkbox__input:focus-visible{
      outline: none;
}



.radio { /* label */
      position: relative;
      display: block;
      padding-left: 32px;
      line-height: 24px; /* тк размер радиокнопки 24px */
}


.radio__input { /* input */
      position: absolute;
      -moz-appearance: none;  /* для ff */
      -webkit-appearance: none;  /* для сафари */
      appearance: none; /* скрыли */

      width: 24px;
      height: 24px;
      margin-left: -32px;  
}


.radio__input::before{ /* радиокнпока */
      content: "";
      position: absolute;
      top: 0;  
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      border-radius: 50%;
      background-color: #FFF;

} 


.radio__input::after{ /* черный кружочек в радиокнопке */
      content: "";
      position: absolute;
      top: 50%; /* центруем */
      left: 50%; /* центруем */
      transform: translate(-50%, -50%);  /* для центрровки юзаем top, left и transform */
      width: 8px; /* рамзеры черного круглежка */
      height: 8px;
      border-radius: 50%;
      background-color: var(--text);
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0;  /* чтоб круглешрк не отображаалсь */
      transition: opacity 0.3s ease-in-out;  /* плавно появляется */
} 
   

.radio__input:checked::after{  /* нажатая радиокнопка */
      opacity: 1;       /* черный круглешок отображается */
}


.radio__input:hover::before{  
     background-color: #F6F6F6;
}


.radio__input:focus::before{
      border: 1px solid #D5B4A8;
}


.radio__input:focus-visible{
      outline: none;
}



.make__upsale{
      font-size: 12px;
      color: #D5B4A8;
}




/* laptop */
@media (max-width: 1240px){  /* 1240 = 1180px(container) + 2*30px(padding) */

      body{
            background-image: url("../img/bg-laptop.svg");
      }

      .container{
            --width: 880px; 
      }

      .hero {
            padding-bottom: 30px;
      }

      .hero__title {
            max-width: 680px;
            font-size: 64px;
      }

      .hero__cups{
            padding-top: 216px;
      }

      .hero__cup--yellow {
            margin-top: -50px;
      }

      .goods__list{
            grid-template-columns: repeat(3, 280px);
      }   


      .decor__img--01{ /* клубиника  слева*/
            width: 131px;
            height: 125px;
            top: 19%;
            left: -1%;
            animation: flyingLaptop01 2s ease-in-out;
      }
      
      
      .decor__img--02{ /* ежевика */
            width: 122px;
            height: 99px;
            right: 8%;
            top: 10%;
            animation: flyingLaptop02 2s ease-in-out;
      }
      
      
      .decor__img--03{ /* желтая ягода на желтом фоне */
            width: 34px;
            height: 30px;
            bottom: 46%;
            left: 36%;
            animation: flyingLaptop03 2s ease-in-out;
      }
      
      
      .decor__img--04{ /* клубника справа */
            width: 129px;
            height: 124px;
            bottom: -4%;
            right: 1%;
            animation: flyingLaptop04 2s ease-in-out;
      }
      
      
      .decor__img--05{   /* черника */
            width: 61px;
            height: 64px;
            bottom: -5%;
            left: 25%;
            animation: flyingLaptop05 2s ease-in-out;
      }
      
      
      .decor__img--06{ /* желтая ягода на розовом фоне */
            width: 38px;
            height: 33px;
            top: 35%;
            right: 4%;
            animation: flyingLaptop06 2s ease-in-out;
      }
      
      
}


/* tablet */
@media (max-width: 940px){   /* 940 = 880px(container) + 2*30px(padding) */
      body{
            background-image: url("../img/bg-tablet.svg");
            font-size: 14px;
      }

      .container{
            --width: 608px; 
            --padding: 15px;
      }

      .header{
            padding-top: 34px;
            padding-bottom: 20px;
      }

      .header__btns{
            gap: 24px;
      }

      .header__btn{
            padding: 8px 20px;
            box-shadow: 0px 2px 10px 0px #FA5A5A;
      }

      .hero {
            padding-bottom: 30px;
      }

      .hero__title {
            max-width: 468px;
            font-size: 44px;
      }

      .hero__cups{
            padding-top: 216px;
            gap: 13px;  
      }

      .hero__cup{
            border-radius: 12px;
      }

      .hero__cup--yellow {
            margin-top: -50px;
      }

      .hero__img {
            bottom: 12%; /* 25px(padding-bottom ) / 194px(ширина квадрата) */
            width: 54%;  /* 107px(ширина стакана) / 194px(ширина квадрата) */
      }

      .goods{
            padding-top: 40px;
            padding-bottom: 50px;
      }
      

      .goods__title{
            font-size: 24px;
            margin-bottom: 16px;
      }

      .goods__list{
            grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));   /* repeat(4, 140px); */ /* на разынх разрешениях, кол-во колонок и их ширина будет меняться */
            gap: 16px;
      }   

      .goods__card {
            padding: 8px;
            border-radius: 12px;
      }
      
      
      .cocktail {
            gap: 8px;  
      }
      
      
      .cocktail__img {
            border-radius: 12px;
            margin-bottom: 8px;
      }
      
      
      .cocktail__content { 
            padding: 0; 
      }
      
      
      .cocktail__text {
            row-gap: 8px;
            margin-bottom: 0;
      }
      
      
      .cocktail__title { 
            flex-grow: 1;  /* если есть место, то элемент расширяется */
            flex-shrink: 0;  
            flex-basis: 100%;
            font-size: inherit;  /* наследует шрифт от своего родителя */
            margin-bottom: 0;
      }
      
      
      .cocktail__price {
            font-weight: 600;
            font-size: 14px;
      }
      
      
      .cocktail__size {  
            font-size: 10px;
            margin-bottom: 0;
            flex-grow: auto;  /*  если есть место, то элемент не увеличивается */
            flex-shrink: auto;  /* если нет место, то элемент сжимается */
            flex-basis: auto;
      }
      
      .footer{
            padding-bottom: 24px;
      }
      
      .footer__container{
            gap: 24px;
      }

           
      .decor__img--01{ /* клубиника  слева*/
            width: 76px;
            height: 73px;
            top: 19%;
            left: -1%;
      }
      
      
      .decor__img--02{ /* ежевика */
            width: 72px;
            height: 58px;
            right: 8%;
            top: 10%;
      }
      
      
      .decor__img--03{ /* желтая ягода на желтом фоне */
            width: 25px;
            height: 23px;
            bottom: 46%;
            left: 36%;
      }
      
      
      .decor__img--04{ /* клубника справа */
            width: 96px;
            height: 93px;           
            bottom: -4%;
            right: 1%;
      }
      
      
      .decor__img--05{   /* черника */
            width: 41px;
            height: 44px;
            bottom: -5%;
            left: 25%;
      }
      
      
      .decor__img--06{ /* желтая ягода на розовом фоне */
            width: 22px;
            height: 19px;
            top: 35%;
            right: 4%;
      }
      
}


/* mobile */
@media (max-width: 640px){

      body{
            /* background-image: url('../img/bg-mobile.svg'); */

      }

      .header{
            padding: 30px 0;
      }

      .header__btn{
            display: none;
      }

      .hero{
            padding-top: 0;
            padding-bottom: 120px;
      }

      .hero__logo{
            width: 120px;
            height: 22px;
      }

      .header__btn-order{
            margin-right: 0;
      }

      .hero__title{
            font-size: 36px;
      }


      .hero__cups{
            display: none;
      }

      .goods{
            padding: 40px 0 30px 0;
      }

      .goods__list{
            gap: 10px; 
      }

      .footer__container{
            grid-template-areas: 'logo'
                                 'copyright'
                                 'developer';
            gap: 20px;                     
      }

      .footer__logo{
            width: 120px;
      }

      .footer__developer{
            justify-self: flex-start; /*грид элемент, выравнивание элеменат по горизонтали*/
            display: block;
            gap: 6px;    
      }


      .decor__img--01{ /* клубиника  слева*/
            width: 76px;
            height: 73px;
            top: 19%;
            left: -1%;
      }


      .decor__img--02{ /* ежевика */
            width: 62px;
            height: 50px;
            right: 8%;
            top: 120%;
      }


      .decor__img--03{ /* желтая ягода на желтом фоне */
            width: 25px;
            height: 23px;
            bottom: -116%;
            left: 36%;
      }


      .decor__img--04{ /* клубника справа */
           display: none;
      }


      .decor__img--05{   /* черника */
           display: none;
      }


      .decor__img--06{ /* желтая ягода на розовом фоне */
            width: 25px;
            height: 23px;
            top: 35%;
            right: 4%;
      }

}


@media (max-width: 500px){

      body{
            background-image: url('../img/bg-mobile.svg');

      }
}


/* анимируем элементы(ягодки): при помощи keyframes */
@keyframes flying01{  /* flying01 сам задали такое название анимации */
      0%{  /* между 0% и 100% можно укзаать любой % */
            top: 50%;
            left: -100%;
      }

      100%{
            top: 19%;
            left: -6%;
      }
} 


@keyframes flying02{  
      0%{ 
            top: 50%;
            left: -100%;
      }

      100%{
            right: 6%;
            top: 10%;  
      }
} 


@keyframes flying03{ 
      0%{ 
            top: 50%;
            left: -100%;
      }

      100%{
            bottom: 46%;
            left: 36%;
      }
} 


@keyframes flying04{  
      0%{  
            top: 50%;
            left: -100%;
      }

      100%{
            bottom: -4%;
            right: 1%; 
      }
} 


@keyframes flying05{ 
      0%{  
            top: 50%;
            left: -100%;
      }

      100%{
            bottom: -5%;
            left: 25%;  
      }
} 


@keyframes flying06{  
      0%{  
            top: 50%;
            left: -100%;
      }

      100%{
            top: 35%;
            right: -5%;
      }
} 



/* для laptop: */
@keyframes flyingLaptop01{  /* flying01 сам задали такое название анимации */
      0%{  /* между 0% и 100% можно укзаать любой % */
            top: -100%;
            bottom: -100%;
      }

      100%{
            right: 19%;
            left: -6%;
      }
} 


@keyframes flyingLaptop02{  
      0%{ 
            top: -100%;
            bottom: -100%;
      }

      100%{
            right: 6%;
            top: 10%;  
      }
} 


@keyframes flyingLaptop03{ 
      0%{ 
            top: -100%;
            bottom: -100%;
      }

      100%{
            bottom: 46%;
            left: 36%;
      }
} 


@keyframes flyingLaptop04{  
      0%{  
            top: -100%;
            bottom: -100%;
      }

      100%{
            bottom: -4%;
            right: 1%; 
      }
} 


@keyframes flyingLaptop05{ 
      0%{  
            top: -100%;
            bottom: -100%;
      }

      100%{
            bottom: -5%;
            left: 25%;  
      }
} 


@keyframes flyingLaptop06{  
      0%{  
            top: -100%;
            bottom: -100%;
      }

      100%{
            top: 35%;
            right: -5%;
      }
} 